{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-container">
    {% include 'userbar.html' %}

    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Username: {{ request.user.username }}</h2>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <h2 style="font-weight: 700; margin-bottom: 15px;">Last actions:</h2>

                        {% if actions %}
                            {% for act in actions %}
                                <div class="row" style="margin-bottom: 8px; font-size: 16px;">
                                    {{ act }}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="row" style="margin-bottom: 8px; font-size: 16px;">
                                No actions yet
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-bank"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{ total }}</h2>
                                        <span>Count</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <div class="chartjs-size-monitor"
                                         style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div class="chartjs-size-monitor-expand"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink"
                                             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}